body {
background-color: cyan;



}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: 75px;
}

.navbar {
    background-color: darkorange;
    padding-top: 15px;
    padding-right: 15px;
}

.form {
    border-radius: 15px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    width: 350px;
    box-shadow: 5px 10px;
}

.image {
    border-radius: 15px;
}

#button {
    background-color: brown;
    color: white;
    border-radius: 10px;
}
#Submitbutton {
    background-color: brown;
    color: white;
    border-radius: 10px;
    width: 200px;
}

