body {
background-color: cyan;



}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar {
    background-color: darkorange;
    padding-top: 15px;
    padding-right: 15px;
}

.form {
    border-radius: 15px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    width: 350px;
}

.image {
    border-radius: 15px;
}

